<%- include("partials/header"); -%>


    <div class="jumbotron">

        <h1 class="display-4"> Welcome back, <%= fname %></h1>
        <p class="lead">You can Add your products</p>
        <a href="/home" class="btn btn-primary">Go to store</a>
      </div>


<%- include("partials/footer"); -%>